In [69]:
import pandas as pd
import numpy as np
import pygeohash as pgh

In [ ]:
pgh.encode()

## Data Dictionary
- VendorID A code indicating the TPEP provider that provided the record.
- 1= Creative Mobile Technologies, LLC; 2= VeriFone Inc.
- tpep_pickup_datetime The date and time when the meter was engaged.
- tpep_dropoff_datetime The date and time when the meter was disengaged.
- Passenger_count The number of passengers in the vehicle.
 This is a driver-entered value.
- Trip_distance The elapsed trip distance in miles reported by the taximeter.
- Pickup_longitude Longitude where the meter was engaged.
- Pickup_latitude Latitude where the meter was engaged.
- RateCodeID The final rate code in effect at the end of the trip.
 1= Standard rate 
 2=JFK
 3=Newark
 4=Nassau or Westchester
 5=Negotiated fare
 6=Group ride
- Store_and_fwd_flag This flag indicates whether the trip record was held in vehicle
 memory before sending to the vendor, aka “store and forward,”
 because the vehicle did not have a connection to the server.
- Y= store and forward trip
- N= not a store and forward trip
- Dropoff_longitude Longitude where the meter was disengaged.
- Dropoff_ latitude Latitude where the meter was disengaged.
- Payment_type A numeric code signifying how the passenger paid for the trip.
 1= Credit card
 2= Cash
 3= No charge
 4= Dispute
 5= Unknown
 6= Voided trip
- Fare_amount The time-and-distance fare calculated by the meter.
- Extra Miscellaneous extras and surcharges. Currently, this only includes
 t he 0.50 and 1 rush hour and overnight charges.
 M TA_tax 0.50 MTA tax that is automatically triggered based on the metered
 rate in use.
- Improvement_surcharge 0.30 improvement surcharge assessed trips at the flag drop. The
- improvement surcharge began being levied in 2015.
- Tip_amount Tip amount – This field is automatically populated for credit card
 tips. Cash tips are not included.
- Tolls_amount Total amount of all tolls paid in trip.
- Total_amount The total amount charged to passengers. Does not include cash tips.

# Geohash dictionary the distance between geohashes based on matching characters, in meters.
_PRECISION = {
    0: 20000000,
    1: 5003530,
    2: 625441,
    3: 123264,
    4: 19545,
    5: 3803,
    6: 610,
    7: 118,
    8: 19,
    9: 3.71,
    10: 0.6,
}

# Average speed of taxis
- In 2014, it dropped to 8.51 MPH. http://www.wnyc.org/story/traffic-speeds-slow-nyc-wants-curb-car-service-growth/
- 8.51 MPH is 3.80431 meters / second

# Geohash units are meters
- http://stackoverflow.com/questions/13448595/geohash-string-length-and-accuracy

In [2]:
taxi_yellowcab_df = pd.read_csv("data/yellow_tripdata_2016-01.csv")

In [3]:
taxi_lookup = pd.read_csv("data/taxi+_zone_lookup.csv")

In [13]:
names_ = ['zipcode','city','state','lat','long','radius?','?']
#dataframe = read_csv('projects.csv', converters={'project_id': lambda x: str(x)})
zip_codes = pd.read_csv("data/zipcode.csv",converters={'zipcode': lambda x: str(x)},names=names_)

In [14]:
zip_codes .head()

  zipcode        city state        lat       long  radius?  ?
0   00210  Portsmouth    NH  43.005895 -71.013202       -5  1
1   00211  Portsmouth    NH  43.005895 -71.013202       -5  1
2   00212  Portsmouth    NH  43.005895 -71.013202       -5  1
3   00213  Portsmouth    NH  43.005895 -71.013202       -5  1
4   00214  Portsmouth    NH  43.005895 -71.013202       -5  1

In [22]:
taxi_lookup.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
zip_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43191 entries, 0 to 43190
Data columns (total 7 columns):
zipcode    43191 non-null object
city       43191 non-null object
state      43191 non-null object
lat        43191 non-null float64
long       43191 non-null float64
radius?    43191 non-null int64
?          43191 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 2.3+ MB

In [20]:
# Truncate zip codes to only be NY

In [21]:
zip_codes_ny = zip_codes[zip_codes.state=='NY']

In [25]:
zip_codes_ny.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2281 entries, 6 to 5721
Data columns (total 7 columns):
zipcode    2281 non-null object
city       2281 non-null object
state      2281 non-null object
lat        2281 non-null float64
long       2281 non-null float64
radius?    2281 non-null int64
?          2281 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 142.6+ KB

In [16]:
taxi_yellowcab_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10906858 entries, 0 to 10906857
Data columns (total 19 columns):
VendorID                 int64
tpep_pickup_datetime     object
tpep_dropoff_datetime    object
passenger_count          int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RatecodeID               int64
store_and_fwd_flag       object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type             int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.5+ GB

In [17]:
taxi_yellowcab_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.0,0.0,0.3,19.3
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.0,0.0,0.3,34.3
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.0,0.0,0.3,17.3
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8

In [16]:
taxi_yellowcab_df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
10906853,2,2016-01-31 23:30:32,2016-01-31 23:38:18,1,2.2,-74.003578,40.751011,1,N,-73.982651,40.767509,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
10906854,1,2016-01-05 00:15:55,2016-01-05 00:16:06,1,0.0,-73.945488,40.751530,1,N,-73.945457,40.751530,2,2.5,0.5,0.5,0.00,0.00,0.3,3.80
10906855,1,2016-01-05 06:12:46,2016-03-19 20:45:50,3,1.4,-73.994240,40.766586,1,N,-73.984428,40.753922,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
10906856,1,2016-01-05 06:21:44,2016-03-28 12:54:26,1,2.1,-73.948067,40.776531,1,N,-73.978188,40.777435,1,11.5,0.0,0.5,2.45,0.00,0.3,14.75
10906857,1,2016-01-05 06:15:21,2016-01-05 06:15:36,3,0.0,-73.960938,40.758595,2,N,-73.961006,40.758583,2,52.0,0.0,0.5,0.00,5.54,0.3,58.34

In [17]:
taxi_yellowcab_df[taxi_yellowcab_df.VendorID==2].head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-01-01 00:00:00,2016-01-01 00:00:00,2,1.10,-73.990372,40.734695,1,N,-73.981842,40.732407,2,7.5,0.5,0.5,0.0,0.0,0.3,8.8
1,2,2016-01-01 00:00:00,2016-01-01 00:00:00,5,4.90,-73.980782,40.729912,1,N,-73.944473,40.716679,1,18.0,0.5,0.5,0.0,0.0,0.3,19.3
2,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,10.54,-73.984550,40.679565,1,N,-73.950272,40.788925,1,33.0,0.5,0.5,0.0,0.0,0.3,34.3
3,2,2016-01-01 00:00:00,2016-01-01 00:00:00,1,4.75,-73.993469,40.718990,1,N,-73.962242,40.657333,2,16.5,0.0,0.5,0.0,0.0,0.3,17.3
4,2,2016-01-01 00:00:00,2016-01-01 00:00:00,3,1.76,-73.960625,40.781330,1,N,-73.977264,40.758514,2,8.0,0.0,0.5,0.0,0.0,0.3,8.8

- Transform lat and long to zip code

>zip_code_data from: https://github.com/EverythingMe/geodis

In [34]:
taxi_sample = taxi_yellowcab_df.sample(50)

In [27]:
zip_codes_ny.head()

     zipcode            city state        lat       long  radius?  ?
6      00501      Holtsville    NY  40.922326 -72.637078       -5  1
7      00544      Holtsville    NY  40.922326 -72.637078       -5  1
2446   06390  Fishers Island    NY  41.261936 -72.007080       -5  1
3443   10001        New York    NY  40.750742 -73.996530       -5  1
3444   10002        New York    NY  40.717040 -73.987000       -5  1

In [71]:
taxi_sample.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
248133,2,2016-01-01 13:57:29,2016-01-01 14:10:50,1,2.64,-73.991890,40.749260,1,N,-73.982674,40.723141,1,12.0,0.0,0.5,2.56,0.0,0.3,15.36
10346448,2,2016-01-08 13:36:25,2016-01-08 13:42:44,1,0.75,-73.986359,40.755230,1,N,-73.985291,40.752110,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80
6177573,2,2016-01-15 08:52:53,2016-01-15 09:00:29,5,1.32,-73.986053,40.734699,1,N,-73.978767,40.750702,1,7.5,0.0,0.5,1.66,0.0,0.3,9.96
2612091,2,2016-01-16 09:56:47,2016-01-16 10:04:13,1,1.05,-73.954895,40.767284,1,N,-73.968422,40.765030,1,7.0,0.0,0.5,1.17,0.0,0.3,8.97
8041976,1,2016-01-31 23:59:05,2016-02-01 00:06:01,1,0.70,-73.981216,40.755569,1,N,-73.969368,40.752079,1,6.0,0.5,0.5,1.45,0.0,0.3,8.75

In [104]:
def geohash_encoding(taxi_df,precision_=6):
    """Encode the latitude and longtitude of the pickup and dropoff into a geohash. For reference, the precision
    of a geohash depends on the number of characters present.
    _PRECISION = { 0: 20000000, 1: 5003530, 2: 625441, 3: 123264, 4: 19545,
    5: 3803, 6: 610, 7: 118, 8: 19, 9: 3.71, 10: 0.6, } - all distances in meters.
    
    Average taxi speed in 2014 was 5.51 miles per hour, or 3.8 meters per second.
    Precision of 5, means that a taxi should traverse this square in ~16 minutes.
    Precision of 6, means a taxi should traverse square in ~3 minutes.
    Precision of 7, means a taxi should traverse the square in ~1 minute.
    
    Input: Pandas DF
    Output: Pandas DF with geohas column appended"""
    
    new_taxidf = taxi_df.copy()
    geo_hash_pickup = []
    geo_hash_dropoff = []
    
    for row in new_taxidf.iterrows():
        # longittude followed by latitude
        pickup_vector = np.array( [row[1]['pickup_latitude'],row[1]['pickup_longitude']])
        dropoff_vector = np.array( [row[1]['dropoff_latitude'],row[1]['dropoff_longitude']])
        #geohash encoding
        geo_hash_pickup.append(pgh.encode(pickup_vector[0],pickup_vector[1],precision=precision_))
        geo_hash_dropoff.append(pgh.encode(dropoff_vector[0],dropoff_vector[1],precision=precision_))
    new_taxidf['geohash_pickup'] = geo_hash_pickup
    new_taxidf['geohas_dropoff'] = geo_hash_dropoff 
    return new_taxidf

In [105]:
geohash_encoding(taxi_sample)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,...,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,geohash_pickup,geohas_dropoff
248133,2,2016-01-01 13:57:29,2016-01-01 14:10:50,1,2.64,-73.991890,40.749260,1,N,-73.982674,...,1,12.0,0.0,0.5,2.56,0.00,0.3,15.36,dr5ru6,dr5rsm
10346448,2,2016-01-08 13:36:25,2016-01-08 13:42:44,1,0.75,-73.986359,40.755230,1,N,-73.985291,...,2,6.0,0.0,0.5,0.00,0.00,0.3,6.80,dr5ru7,dr5ru6
6177573,2,2016-01-15 08:52:53,2016-01-15 09:00:29,5,1.32,-73.986053,40.734699,1,N,-73.978767,...,1,7.5,0.0,0.5,1.66,0.00,0.3,9.96,dr5rsr,dr5rud
2612091,2,2016-01-16 09:56:47,2016-01-16 10:04:13,1,1.05,-73.954895,40.767284,1,N,-73.968422,...,1,7.0,0.0,0.5,1.17,0.00,0.3,8.97,dr5rvj,dr5ruv
8041976,1,2016-01-31 23:59:05,2016-02-01 00:06:01,1,0.70,-73.981216,40.755569,1,N,-73.969368,...,1,6.0,0.5,0.5,1.45,0.00,0.3,8.75,dr5rue,dr5ruf
7445225,2,2016-01-30 13:54:16,2016-01-30 13:58:34,6,0.76,-73.994583,40.727825,1,N,-73.998734,...,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80,dr5rsn,dr5rsp
8649250,1,2016-01-21 19:01:09,2016-01-21 19:16:40,1,2.00,-73.982094,40.778587,1,N,-73.958000,...,1,11.5,1.0,0.5,1.50,0.00,0.3,14.80,dr5rur,dr5rvj
1185066,1,2016-01-05 15:01:00,2016-01-05 15:08:00,1,0.90,-73.980827,40.774750,1,N,-73.980560,...,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30,dr5ruw,dr72h8
8854508,1,2016-01-22 08:36:21,2016-01-22 08:38:56,1,0.40,-74.002991,40.727760,1,N,-73.995193,...,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80,dr5rsn,dr5rsj
9074688,2,2016-01-22 19:07:35,2016-01-22 19:14:42,1,1.10,-73.942513,40.797443,1,N,-73.956291,...,2,6.5,1.0,0.5,0.00,0.00,0.3,8.30,dr72j6,dr72j5
7744843,1,2016-01-31 03:00:11,2016-01-31 03:17:19,1,4.10,-73.988602,40.731441,1,N,-73.995293,...,1,16.0,0.5,0.5,2.00,0.00,0.3,19.30,dr5rsq,dr5rkj
8878977,2,2016-01-22 09:43:29,2016-01-22 09:53:49,1,1.45,-73.967201,40.769150,1,N,-73.963211,...,1,8.5,0.0,0.5,1.86,0.00,0.3,11.16,dr5ruv,dr5rug
471425,2,2016-01-02 12:31:58,2016-01-02 12:44:03,1,2.61,-74.004585,40.752102,1,N,-73.996147,...,1,11.0,0.0,0.5,2.36,0.00,0.3,14.16,dr5rgf,dr5rsj
5529204,2,2016-01-17 14:15:31,2016-01-17 14:22:35,1,1.00,-74.004150,40.722038,1,N,-74.001442,...,1,6.5,0.0,0.5,1.46,0.00,0.3,8.76,dr5rev,dr5rsp
8917191,2,2016-01-22 11:46:07,2016-01-22 12:02:24,5,1.38,-73.986969,40.733536,1,N,-73.973877,...,1,11.5,0.0,0.5,2.46,0.00,0.3,14.76,dr5rsr,dr5rud
3881796,1,2016-01-13 20:29:00,2016-01-13 20:40:01,1,2.10,-73.982285,40.765244,1,N,-73.959747,...,1,9.5,0.5,0.5,1.75,0.00,0.3,12.55,dr5rum,dr72j0
8867079,1,2016-01-22 09:09:46,2016-01-22 09:26:25,1,1.20,-74.002029,40.740322,1,N,-73.988045,...,1,11.0,0.0,0.5,2.36,0.00,0.3,14.16,dr5ru0,dr5ru6
1372515,1,2016-01-06 18:07:32,2016-01-06 18:12:02,1,0.70,-73.982246,40.782944,1,N,-73.979462,...,1,5.0,1.0,0.5,1.35,0.00,0.3,8.15,dr72h2,dr5rux
9098882,2,2016-01-22 19:59:28,2016-01-22 20:06:44,1,1.16,-73.973907,40.764088,1,N,-73.965981,...,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80,dr5rus,dr5rug
6468825,1,2016-01-18 19:29:05,2016-01-18 19:33:21,1,1.10,-73.981277,40.741112,1,N,-73.969940,...,1,5.5,0.0,0.5,1.55,0.00,0.3,7.85,dr5ru8,dr5rug
1497116,1,2016-01-07 13:19:31,2016-01-07 13:26:09,1,0.90,-73.977310,40.779388,1,N,-73.987144,...,1,6.0,0.0,0.5,1.35,0.00,0.3,8.15,dr5rux,dr5rum
5563379,2,2016-01-27 08:45:08,2016-01-27 08:54:29,1,1.30,-73.986618,40.739883,1,N,-73.986885,...,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80,dr5ru2,dr5ru6
5025380,1,2016-01-26 18:31:05,2016-01-26 18:49:34,1,2.00,-73.999580,40.720310,1,N,-73.980461,...,1,13.0,1.0,0.5,1.00,0.00,0.3,15.80,dr5rsh,dr5ru8
3743054,2,2016-01-13 17:06:29,2016-01-13 17:10:29,1,0.90,-73.987061,40.750759,1,N,-73.979347,...,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80,dr5ru6,dr5rus
4295736,1,2016-01-14 13:34:54,2016-01-14 13:45:49,1,1.20,-74.006744,40.744274,1,N,-73.987137,...,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55,dr5rgc,dr5rsr
558548,2,2016-01-02 17:22:34,2016-01-02 17:28:02,1,0.95,-73.981277,40.747238,1,N,-73.972702,...,1,6.0,0.0,0.5,1.36,0.00,0.3,8.16,dr5ru9,dr5rue
4956061,2,2016-01-17 00:49:43,2016-01-17 01:09:09,2,5.86,-73.976891,40.788643,1,N,-73.980713,...,1,20.5,0.5,0.5,4.36,0.00,0.3,26.16,dr72h9,dr5rsw
1724073,1,2016-01-08 18:41:37,2016-01-08 18:45:22,2,0.40,-73.980827,40.779839,1,N,-73.976868,...,1,4.5,1.0,0.5,1.89,0.00,0.3,8.19,dr5rux,dr72h8
5285816,1,2016-01-17 09:28:46,2016-01-17 09:31:04,1,0.50,-73.974091,40.751137,1,N,-73.968567,...,1,4.0,0.0,0.5,0.95,0.00,0.3,5.75,dr5rud,dr5rug
8127126,2,2016-01-20 12:17:01,2016-01-20 12:39:49,2,1.20,-73.986870,40.736530,1,N,-73.989021,...,1,14.0,0.0,0.5,2.96,0.00,0.3,17.76,dr5rsr,dr5ru3
8177153,1,2016-01-20 14:58:44,2016-01-20 15:06:10,1,0.80,-73.980743,40.748348,1,N,-73.990227,...,1,7.0,0.0,0.5,0.50,0.00,0.3,8.30,dr5rud,dr5ru2
7566302,1,2016-01-30 19:18:40,2016-01-30 20:02:02,1,13.70,-73.962883,40.766602,1,N,-73.956993,...,1,42.5,0.0,0.5,5.00,0.00,0.3,48.30,dr5ruv,dr5rjn
6220621,1,2016-01-15 10:11:14,2016-01-15 10:36:01,2,8.00,-73.962273,40.810600,1,N,-73.861382,...,1,26.5,0.0,0.5,6.55,5.54,0.3,39.39,dr72hv,dr5rzj
5653197,1,2016-01-27 10:19:24,2016-01-27 10:37:40,1,2.40,-73.959068,40.799397,1,N,-73.953735,...,1,13.5,0.0,0.5,2.85,0.00,0.3,17.15,dr72j5,dr5rvn
8418194,2,2016-01-21 07:34:04,2016-01-21 07:47:50,2,2.70,-73.960312,40.778812,1,N,-73.984596,...,2,11.5,0.0,0.5,0.00,0.00,0.3,12.30,dr5ruz,dr5ruk
3604401,2,2016-01-13 12:30:14,2016-01-13 12:33:38,1,0.44,-73.948669,40.773979,1,N,-73.955750,...,2,4.5,0.0,0.5,0.00,0.00,0.3,5.30,dr5rvq,dr5rvn
971953,1,2016-01-04 07:48:34,2016-01-04 07:51:16,1,0.40,-73.974129,40.759941,1,N,-73.970329,...,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80,dr5rus,dr5ruu
205207,2,2016-01-01 10:46:47,2016-01-01 11:02:31,2,3.98,-73.989532,40.762562,1,N,-73.987122,...,1,15.0,0.0,0.5,3.16,0.00,0.3,18.96,dr5ruk,dr5rsk
2892417,2,2016-01-12 16:10:37,2016-01-12 17:00:02,1,15.96,-73.977829,40.751419,2,N,-73.790070,...,1,52.0,0.0,0.5,17.50,5.54,0.3,75.84,dr5rud,dr5x0z
2439627,2,2016-01-28 04:38:15,2016-01-28 05:01:00,5,18.72,-73.947807,40.778881,2,N,-73.779884,...,1,52.0,0.0,0.5,11.67,5.54,0.3,70.01,dr5rvr,dr5x1p
7622205,1,2016-01-30 21:39:42,2016-01-30 22:12:10,1,1.80,-73.994926,40.721458,1,N,-73.983459,...,1,19.0,0.5,0.5,0.00,0.00,0.3,20.30,dr5rsj,dr5ru3
6765632,1,2016-01-19 15:23:38,2016-01-19 15:36:07,2,1.30,-73.985542,40.741310,1,N,-73.982346,...,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80,dr5ru2,dr5ru7
7604731,1,2016-01-30 20:52:58,2016-01-30 21:05:06,1,2.70,-73.984779,40.738663,1,N,-73.957214,...,1,11.5,0.5,0.5,2.55,0.00,0.3,15.35,dr5ru2,dr5rvj
1133986,1,2016-01-05 08:47:03,2016-01-05 09:06:37,1,6.00,-73.976807,40.751530,1,N,-73.992828,...,2,20.5,0.0,0.5,0.00,0.00,0.3,21.30,dr5rud,dr5rs3
828469,1,2016-01-03 15:28:50,2016-01-03 15:33:33,1,0.80,-74.006355,40.716885,1,N,-73.997345,...,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80,dr5reu,dr5rsj
3548394,2,2016-01-16 21:22:34,2016-01-16 21:32:30,1,1.69,-73.991905,40.744331,1,N,-73.996643,...,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80,dr5ru3,dr5rsj
6662490,1,2016-01-19 10:35:46,2016-01-19 10:37:05,3,0.50,-73.984520,40.754925,1,N,-73.979630,...,1,3.5,0.0,0.5,1.00,0.00,0.3,5.30,dr5ru7,dr5rus
41024,2,2016-01-01 00:14:13,2016-01-01 00:18:34,1,0.80,-73.997513,40.721691,1,N,-73.991776,...,1,5.0,0.5,0.5,1.26,0.00,0.3,7.56,dr5rsj,dr5rsq
10381030,2,2016-01-08 17:11:01,2016-01-08 17:32:08,1,3.43,-73.983200,40.769249,1,N,-73.948311,...,1,16.0,1.0,0.5,3.56,0.00,0.3,21.36,dr5rum,dr5rvr
1749674,1,2016-01-08 20:53:09,2016-01-08 21:27:51,2,5.40,0.000000,0.000000,1,N,0.000000,...,1,25.0,0.5,0.5,5.26,0.00,0.3,31.56,7zzzzz,7zzzzz

TypeError: 'module' object is not callable

In [ ]:
geodis()